{
  "extends": "standard",
  "rules": {
    "semi": [2, "always"],
    "no-labels": 0
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "node": true
  }
}
